# Discord Bot Client ID
# https://wdh.gg/IN3s8wp
CLIENT_ID =

# Encryption Key
# This key is used to encrypt sensitive data in the database, do not lose it or you will lose access to your data.
ENCRYPTION_KEY =

# MongoDB URI
# https://wdh.gg/Fsx57qA
MONGO_URI =

# Sentry DSN
# https://wdh.gg/Du4qqZr
SENTRY_DSN =

# Discord Bot Token
# https://wdh.gg/Xik9n40
TOKEN =

# Express Server
# Use localhost:${EXPRESS_PORT}/health to check the status

# Whether to enable the Express server for health checks
EXPRESS_ENABLED =

# Port for the Express server (default: 3000)
EXPRESS_PORT =
